<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwFood - Inserimento Locale')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<div class="container my-5 w-75">
		<h2 class="text-center my-3">Aggiungi Locale</h2>
		<div class="container form-container mt-5 mb-5">
			<form th:action="@{/admin/add/local}" method="post" enctype="multipart/form-data" th:object="${local}">

				<div class="row">
					<!-- Colonna Immagine -->
					<div class="col-md-4">
						<div class="card mb-4">
							<div class="card-header">
								<h5 class="card-title mb-0">Immagine del Locale</h5>
							</div>
							<div class="card-body p-0">
								<div class="image-container">
									<img src="/images/default/senzaFotoLocal.jpeg" class="rounded img"
										alt="Immagine Locale" id="localImagePreview" />
								</div>
							</div>
						</div>
					</div>

					<!-- Colonna Inserimento Dati -->
					<div class="col-md-8">
						<div class="mb-3">
							<label for="name" class="form-label">Nome</label>
							<input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
							<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						</div>
						<div class="mb-3">
							<label for="address" class="form-label">Indirizzo</label>
							<input type="text" class="form-control" id="address" name="address" th:field="*{address}"
								required>
							<div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
							</div>
						</div>
						<div class="mb-3">
							<label for="ownerId" class="form-label">Proprietario</label>
							<select class="form-control" name="ownerId" required>
							    <option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.name}"></option>
							</select>
						</div>
						<div class="mb-3">
							<label for="fileImage" class="form-label">Carica immagine del locale (opzionale)</label>
							<input type="file" class="form-control" id="fileImage" name="fileImage" accept="image/*"
								onchange="loadFile(event)">
							<div class="form-text text-light">Puoi caricare un'immagine del locale.</div>
						</div>
					</div>

					<button type="submit" class="btn btn-primary w-100">Salva Locale</button>
				</div>
		</div>
		</form>
	</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

	<!-- Script per la preview dell'immagine -->
	<script>
		function loadFile(event) {
			var imageContainer = document.getElementById('localImagePreview');
			imageContainer.src = "";
			const file = event.target.files[0];
			if (file) {
				imageContainer.src = URL.createObjectURL(file);
			} else {
				imageContainer.src = "/images/default/senzaFotoLocal.jpeg";
			}
		}
	</script>
</body>

</html>