<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwFood - Gestione Eventi')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="container mt-5 mb-3">
		<h1 class="text-center mb-4">Lista degli Eventi</h1>
		<div th:if="${events == null || events.isEmpty()}" class="alert alert-warning">
			Non ci sono eventi nel sistema
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm mx-auto" style="max-width: 80%;">
				<thead>
					<tr>
						<th scope="col">Immagine</th>
						<th scope="col">Nome</th>
						<th scope="col">Azioni</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="event : ${events}">
						<td class="text-center">
							<div class="d-flex align-items-center justify-content-center" style="height: 100px; width: 100px;">
								<img th:src="${event.urlImage}" alt="Immagine Evento" class="img-fluid w-100 h-100 object-fit-cover">
							</div>
						</td>
						<td style="width: 50%;">
							<h6 style="font-size: 0.8rem;" th:text="${event.name}">Nome Evento</h6>
						</td>
						<td style="width: 20%;">
							<div class="d-flex justify-content-between">
								<form th:action="@{'/admin/delete/event/' + ${event.id}}" method="post">
									<button type="submit" class="btn btn-danger btn-sm">Elimina</button>
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
