<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwEventi - Gestione Locali')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="container mt-5 mb-3">
		<h1 class="text-center mb-3">Lista dei Locali</h1>
		<div th:if="${locals == null || locals.isEmpty()}" class="alert alert-warning">
			Non ci sono locali nel sistema
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm mx-auto" style="max-width: 80%;">
				<tbody>
					<tr th:each="local : ${locals}">
						<td class="text-center">
							<div class="d-flex align-items-center justify-content-center img-container">
								<img th:src="${local.urlsImages[0]}" alt="Immagine Locale" class="img-fluid object-fit-cover img-size">
							</div>
						</td>
						<td class="w-50">
							<div class="d-flex align-items-center img-size">
								<h6 class="mb-0 text-small" th:text="${local.name}">Nome Locale</h6>
							</div>
						</td>
						<td class="w-20">
							<div class="d-flex align-items-center justify-content-center img-size">
								<form th:action="@{'/admin/delete/local/' + ${local.id}}" method="post">
									<button type="submit" class="btn btn-danger btn-sm">
										<img src="/images/trash.svg" alt="Remove">
									</button>
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

	<script src="path/to/bootstrap.bundle.min.js"></script>
</body>

</html>
