<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwEventi - Gestione Prenotazioni')}">
	<link rel="stylesheet" href="path/to/bootstrap.min.css">
	<link rel="stylesheet" href="path/to/your/custom/styles.css">
</head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="container my-5">
		<h1 class="my-5 text-center">Lista delle Prenotazioni</h1>
		<div th:if="${reservations == null || reservations.isEmpty()}" class="alert alert-warning">
			Non ci sono prenotazioni nel sistema
		</div>
		<div class="table-responsive">
			<div class="table-responsive">
				<table class="table table-striped table-dark table-sm mx-auto">
					<tbody>
						<tr th:each="reservation : ${reservations}">
							<td class="align-middle">
								<div class="d-flex align-items-center">
									<img th:src="${reservation.event.urlImage}" alt="Immagine Evento"
										class="img-fluid rounded img-sm">
								</div>
							</td>
							<td class="align-middle">
								<div class="d-flex flex-column align-items-start ">
									<h6 class="mb-1 text-center" th:text="${reservation.event.name}">Nome Evento</h6>
									<p class="mb-1"
										th:text="'Data e Ora Prenotazione: ' + ${reservation.reservationDateTime}">Data
										e Ora Prenotazione</p>
									<p class="mb-1 text-small"
										th:text="'Utente: ' + ${reservation.user.name} + ' ' + ${reservation.user.surname}">
										Nome Utente</p>
								</div>
							</td>
							<td class="align-middle">
								<div class="d-flex align-items-center justify-content-center">
									<form th:action="@{'/admin/delete/event/' + ${reservation.id}}" method="post">
										<button type="submit" class="btn btn-danger btn-lg">
											<img src="/images/trash.svg" class="remove-icon" alt="Remove">
										</button>
									</form>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

	<script src="path/to/bootstrap.bundle.min.js"></script>
</body>

</html>