<!DOCTYPE html>
<html lang="it">

<head>
	<title>SiwEventi Footer</title>
</head>

<body>
	<!-- Footer -->
	<footer class="footer text-center text-lg-start mt-auto">
		<div class="container p-4 pb-0">
			<section class="">
				<div class="row">
					<div class="col-12 col-md-6 col-lg-3 mx-auto mt-3 text-center">
						<h6 class="text-uppercase mb-4 font-weight-bold ">Siw Eventi</h6>
						<p>Esplora il mondo della vita notturna!!
						</p>
					</div>
					<div class="col-6 col-md-3 col-lg-2 mx-auto mt-3 text-center">
						<h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
						<p><a href="/locals" class="text-white">Locali</a></p>
						<p><a href="/events" class="text-white">Eventi</a></p>
					</div>
					<div class="col-6 col-md-3 col-lg-2 mx-auto mt-3 text-center">
						<h6 class="text-uppercase mb-4 font-weight-bold">Account</h6>
						<p><a href="/login" class="text-white">Login</a></p>
						<p><a href="/register" class="text-white">Sign Up</a></p>
					</div>
					<div class="col-12 col-md-6 col-lg-3 mx-auto mt-3 text-center">
						<h6 class="text-uppercase mb-4 font-weight-bold">Contatti</h6>
						<p><i class="fas fa-home mr-3"></i> Roma, RM 00146, IT</p>
						<p><a href="mailto:siw.roma3@gmail.com" class="text-white">siw.roma3@gmail.com</a></p>
					</div>
				</div>
			</section>
		</div>
		<div class="text-center p-3" style="background-color: rgb(75, 19, 89);">
			© 2024 SiwEventi
		</div>
	</footer>

</body>

</html>