<!DOCTYPE html>

<head>
	<title>Navbar</title>
</head>

<body th:fragment="navbar">
	<nav class="navbar navbar-expand-lg fixed-top">
		<div class="container">
			<!-- Bootstrap CSS -->
			<a class="navbar-brand " href="/">SiwEventi</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<!-- Inizio Elementi visibili per utenti  -->
					<li class="nav-item">
						<a class="nav-link" th:if="${role != 'ADMIN' &&  role != 'BUSINESS'}" href="/locals">Locali</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:if="${role != 'ADMIN' &&  role != 'BUSINESS'}" href="/events">Eventi</a>
					</li>
					<!-- Fine Elementi visibili per utenti  -->

					<!-- Inizio Elementi visibili per utenti Registrati -->
					<li class="nav-item">
						<a class="nav-link" th:if="${role == 'DEFAULT'}" href="/reservations">Prenotazioni</a>
					</li>
					<!-- Fine Elementi visibili per utenti Registrati  -->

					<!-- Inizio Elementi visibili per admin -->
					<li class="nav-item">
						<a class="nav-link" th:if="${role == 'ADMIN'}" href="/admin/locals">Locali</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:if="${role == 'ADMIN'}" href="/admin/events">Eventi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:if="${role == 'ADMIN'}" href="/admin/reservations">Prenotazioni</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:if="${role == 'ADMIN'}" href="/admin/users">Utenti</a>
					</li>
					<!-- Fine Elementi visibili per admin -->
					
					<!-- Inizio Elementi visibili per proprietario -->
					<li class="nav-item">
						<a class="nav-link" th:if="${role == 'BUSINESS'}" href="/business/locals">I Miei Locali</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:if="${role == 'BUSINESS'}" href="/business/events">I Miei Eventi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:if="${role == 'BUSINESS'}" href="/business/reservations">Prenotazioni</a>
					</li>
					<!-- Fine Elementi visibili per proprietario -->
				</ul>

				<!-- Inizio Barra di Ricerca per Cuochi e Utenti Non Registrati -->
				<form class="d-flex" th:if="${role != 'ADMIN'}" th:action="@{/search}" method="post">
					<input class="form-control me-2" type="search" name="stringa" placeholder="Search"
						aria-label="Search">
				</form>
				<!-- Fine Barra di Ricerca per Cuochi e Utenti Non Registrati -->

				<!-- Inizio Barra di Ricerca per Admin -->
				<form class="d-flex" th:if="${role == 'ADMIN'}" th:action="@{/admin/search}" method="post">
					<input class="form-control me-2" type="search" name="stringa" placeholder="Search"
						aria-label="Search">
				</form>
				<!-- Fine Barra di Ricerca per Admin-->


				<div class="d-flex align-items-center">
					<a type="button" class="btn btn-primary me-2 my-2" th:if="${userDetails == null}"
						href="/login">Login</a>
					<div class="dropdown" th:if="${userDetails != null}">
						<a class="nav-link" role="button" id="userDropdown" data-bs-toggle="dropdown"
							aria-expanded="false">
							<!-- Se l'immagine è presente -->
							<div>
							<img th:if="${CurrentUser != null}" th:src="@{${CurrentUser.urlImage}}" alt="Account Image"
								class="account-icon my-2">
								
							<img th:if="${CurrentOwner != null}" th:src="@{${CurrentOwner.urlImage}}" alt="Account Image"
								class="account-icon my-2">
								</div>
						</a>
						<ul class="dropdown-menu bg-dark" aria-labelledby="userDropdown">
							<div th:text="${userDetails.username}" class="p-2 ms-2 text-capitalize text-light">Profile</div>
							<hr class="dropdown-divider">
							<li><a class="dropdown-item text-danger bg-dark" href="/logout">Logout</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>
	<!-- Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>