<!DOCTYPE html>
<html lang="it">
<head th:replace="~{fragments/header :: header(title='SiwEventi - Homepage')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="jumbotron jumbotron-fluid vh-50 mt-3 mb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 d-flex justify-content-center">
					<div class="text-center">
						<div class="text-center mt-5">
							<img src="/images/HomePageSiwEventi.jpeg" class="rounded-4 img-fluid mb-4" alt="Logo SiwEventi">

							<h1 class="display-4">Benvenuti su SiwEventi2!</h1>
							<p class="lead mb-4">
								Esplora i migliori eventi notturni della tua città! Dalle serate in discoteca agli spettacoli dal vivo, trova l'evento perfetto per le tue serate.
							</p>
						</div>
					</div>
				</div>
				<div class="text-center mt-4">
					<p class="lead">
						Unisciti alla nostra community di appassionati della vita notturna, condividi le tue esperienze e non perdere le ultime novità sugli eventi più esclusivi!
					</p>
					<a class="btn btn-primary btn-lg" href="/events" role="button">Scopri gli Eventi</a>
					<a class="btn btn-secondary btn-lg" href="/locals" role="button">I Locali Migliori</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
