<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwFood - Registrazione')}"></head>

<body>
    <!-- Include la navbar -->
    <div th:if="${ruolo == 'ADMIN'}">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </div>
    <div class="container form-container mt-5 mb-5">
        <div class="card-header">
            <h2 class="text-center mb-4">Registrazione</h2>
        </div>

        <form th:action="@{/registerBusiness}" method="post" enctype="multipart/form-data" onsubmit="return validatePasswords()">
            <div class=" d-flex justify-content-center">
                <div th:if="${#fields.hasErrors('credentials')}" class="alert alert-danger text-center w-50" role="alert">
                    <p th:each="err : ${#fields.errors('credentials')}" th:text="${err}" class="mb-0">...</p>
                </div>
            </div>

            <div class="row">
                <!-- Colonna Immagine -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Immagine Utente</h5>
                        </div>
                        <div class="card-body p-0">
                            <div class="image-container">
                                <img src="/images/default/senzaFotoUser.jpeg" class="rounded img-lg" alt="Immagine Utente" id="utenteImagePreview" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <!-- Colonna Inserimento Dati 2-->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Inserisci il tuo nome" required>
                                <div th:if="${#fields.hasErrors('owner.name')}" th:errors="${owner.name}" class="text-danger"></div>
                            </div>
                            <div class="mb-3">
                                <label for="surname" class="form-label">Cognome</label>
                                <input type="text" class="form-control" id="surname" name="surname" placeholder="Inserisci il tuo cognome" required>
                                <span th:if="${#fields.hasErrors('owner.surname')}" th:errors="${owner.surname}" th:style="'color:red'"></span>
                            </div>
                            <div class="mb-3">
                                <label for="dateOfBirth" class="form-label">Data di Nascita</label>
                                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth">
                                <span th:if="${#fields.hasErrors('owner.dateOfBirth')}" th:errors="${owner.dateOfBirth}" th:style="'color:red'"></span>
                            </div>
                            <div class="mb-3">
                                <label for="fileImage" class="form-label">Carica una foto del proprietario (opzionale)</label>
                                <input type="file" class="form-control" id="fileImage" name="fileImage" accept="image/*" onchange="loadFile(event)">
                                <div class="form-text text-light">Assicurati di caricare una foto chiara e recente del proprietario.</div>
                            </div>
                        </div>

                        <!-- Colonna Dati di Accesso -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Scegli un username (lo userai per il Login)" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Inserisci la tua email (name@example.com)" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Crea una password" required>
                                    <button type="button" class="btn btn-outline-secondary btn" id="togglePassword">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Conferma Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Conferma la tua password" required>
                                    <button type="button" class="btn btn-outline-secondary btn" id="toggleConfirmPassword">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="passwordError" class="text-danger mb-2" style="display: none;">Le password non corrispondono.</div>
                        </div>
                    </div>
                    <!-- Pulsante di Conferma -->
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary w-100">Conferma</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Script per la preview dell'immagine -->
    <script>
        function loadFile(event) {
            var image = document.getElementById('utenteImagePreview');
            if (event.target.files.length > 0) {
                image.src = URL.createObjectURL(event.target.files[0]);
            } else {
                image.src = '/images/default/senzaFotoUser.jpeg'; // Percorso dell'immagine di default
            }
        }

        document.getElementById('togglePassword').addEventListener('click', function () {
            var passwordField = document.getElementById('password');
            var passwordFieldType = passwordField.getAttribute('type');
            if (passwordFieldType === 'password') {
                passwordField.setAttribute('type', 'text');
                this.innerHTML = '<i class="bi bi-eye-slash"></i>';
            } else {
                passwordField.setAttribute('type', 'password');
                this.innerHTML = '<i class="bi bi-eye"></i>';
            }
        });

        document.getElementById('toggleConfirmPassword').addEventListener('click', function () {
            var confirmPasswordField = document.getElementById('confirmPassword');
            var confirmPasswordFieldType = confirmPasswordField.getAttribute('type');
            if (confirmPasswordFieldType === 'password') {
                confirmPasswordField.setAttribute('type', 'text');
                this.innerHTML = '<i class="bi bi-eye-slash"></i>';
            } else {
                confirmPasswordField.setAttribute('type', 'password');
                this.innerHTML = '<i class="bi bi-eye"></i>';
            }
        });

        function validatePasswords() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
            if (password !== confirmPassword) {
                document.getElementById('passwordError').style.display = 'block';
                return false;
            }
            document.getElementById('passwordError').style.display = 'none';
            return true;
        }
    </script>

</body>

</html>
