<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwEventi - Gestione Prenotazioni')}"></head>

<body>
    <!-- Include la navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container my-5">
        <h1 class="my-5 text-center mb-4">Lista delle Prenotazioni per Locali</h1>

        <div th:if="${reservations == null || reservations.isEmpty()}" class="alert alert-info text-center">
            Non ci sono prenotazioni nel sistema
        </div>

        <div th:each="local : ${CurrentOwner.locals}">
            <div class="card mb-4">
                <div class="card-header text-white">
                    <h3 th:text="${local.name}" class="mb-1 text-secondary">Nome Locale</h3>
                    <p class="mb-0" th:text="${local.address}">Indirizzo Locale</p>
                </div>
                <div class="card-body">
                    <div th:each="event : ${local.events}">
                        <div class="mb-3">
                            <h4 th:text="${event.name}" class="text-secondary">Nome Evento</h4>
                            <div class="table-responsive">
                                <table class="table table-striped table-dark table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Immagine</th>
                                            <th scope="col">Nome Evento</th>
                                            <th scope="col">Nome Utente</th>
                                            <th scope="col">Azione</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="reservation : ${event.reservations}">
                                            <td class="align-middle">
                                                <img th:src="${reservation.event.urlImage}" alt="Immagine Evento"
                                                    class="img-fluid rounded img-sm">
                                            </td>
                                            <td class="align-middle" th:text="${reservation.event.name}">Nome Evento</td>
                                            <td class="align-middle"
                                                th:text="'Utente: ' + ${reservation.user.name} + ' ' + ${reservation.user.surname}">
                                            </td>
                                            <td class="align-middle">
                                                <form th:action="@{'/delete/reservation/' + ${reservation.id}}"
                                                    method="post">
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                        <img src="/images/trash.svg" class="icon-invert" alt="Remove">
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div th:if="${local.events.size() == 0}" class="alert alert-warning text-center">
                        Non ci sono eventi per questo locale.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include il footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
